<div fxLayout="column" fxFlex="704px">
    <mat-form-field appearance="outline">
        <mat-label>{{label}}</mat-label>
        <mat-chip-list #relationshipList>
            <mat-chip *ngFor="let relationship of form.controls[relationship].value"
                (removed)="remove(relationship)">
                {{relationship}}
                <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip>
            <input placeholder="Search relationships" 
            #relationshipInput
            #autoTrigger="matAutocompleteTrigger"            
            [formControl]="predicate"
            [matAutocomplete]="auto"
            [matChipInputFor]="relationshipList"
            [matChipInputSeparatorKeyCodes]="separator" 
            (matChipInputTokenEnd)="add($event)">
            <button mat-icon-button type="button" (click)="autoTrigger.openPanel()"><mat-icon>arrow_drop_down</mat-icon></button>
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let relationship of filter$ | async" [value]="relationship.id">
                {{relationship.id}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>