.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
  background-attachment: fixed;
  background-color: #051e34;
  background-image: url(//www.gstatic.com/mobilesdk/190424_mobilesdk/nav_nachos@2x.png);
  background-position: left 0 bottom 0;
  background-repeat: no-repeat;
  background-size: 300px 556px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: width .3s cubic-bezier(0.4, 0, 0.2, 1);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidenav-header {
  height: 48px !important;
  color: #fff;
  /* font-family: "Google Sans",sans-serif; */
  /* font-size: 15px; */
  font-weight: 500;
  line-height: 20px;
  /* margin-bottom: 2px; */
  border-bottom: 1px solid rgba(255,255,255,0.1) !important;
}

.mat-panel-title-sub {
  color:rgba(255,255,255,.5);
  font-size: small;
  overflow: ellipse;
  white-space: nowrap;
}

.mat-nav-list .mat-list-item{
  color: rgba(255,255,255,.8);
  height: 32px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  padding-left: 10px;
}

.mat-nav-list .mat-list-item:hover{
  background-color: rgba(255,255,255,.08);
}

.main-header {
  height: 48px !important;
}

::ng-deep .mat-expansion-panel-spacing {
  margin: 0 !important;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
  background-color: rgba(255,255,255,.06)
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
  border-radius: none;
  padding: 0;
  background: inherit !important;
}

::ng-deep .mat-expansion-panel-header-title {
  color: #fff;
}

::ng-deep .mat-expansion-panel {
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.1) !important;
}

::ng-deep .mat-expansion-panel-header:hover {
  background-color: rgba(255,255,255,.08) !important;
}

::ng-deep .mat-expansion-panel .mat-expanded {
  color: #fff;
  background-color: rgba(255,255,255,.06) !important
}

::ng-deep .mat-expansion-panel .mat-expanded:hover {
  color: #fff;
  background-color: rgba(255,255,255,.08) !important
}