<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="sidenav-header">Computo</mat-toolbar>
    <mat-accordion multi="true">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div fxLayout="column">
              <span>Common object models</span>
              <span class="mat-panel-title-sub">Location, Personnel, Equipment, Asset, Material, Process Segment,
                Operations</span>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/operational/location" routerLinkActive="active">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
              <mat-icon>satellite</mat-icon>
              <span>Operational location information</span>
            </div>
          </a>
          <a mat-list-item href="#">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
              <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="Example home icon">
                manage_accounts</mat-icon>
              <span>Personnel information</span>
            </div>
          </a>
          <a mat-list-item href="#">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
              <mat-icon aria-hidden="false" aria-label="Example home icon">precision_manufacturing</mat-icon>
              <span>Role based equipment information</span>
            </div>
          </a>
          <a mat-list-item href="#">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
              <mat-icon aria-hidden="false" aria-label="Example home icon">description_outline</mat-icon>
              <span>Physical asset information</span>
            </div>
          </a>
          <a mat-list-item href="#">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
              <mat-icon aria-hidden="false" aria-label="Example home icon">inventory</mat-icon>
              <span>Material information</span>
            </div>
          </a>
          <a mat-list-item href="#">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
              <mat-icon aria-hidden="false" aria-label="Example home icon">account_tree</mat-icon>
              <span>Process segment information</span>
            </div>
          </a>
          <a mat-list-item href="#">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
              <mat-icon aria-hidden="false" aria-label="Example home icon">quiz</mat-icon>
              <span>Operations test information</span>
            </div>
          </a>
          <a mat-list-item href="#">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
              <mat-icon aria-hidden="false" aria-label="Example home icon">fiber_manual_record</mat-icon>
              <span>Operations record information</span>
            </div>
          </a>
          <a mat-list-item href="#">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
              <mat-icon aria-hidden="false" aria-label="Example home icon">event</mat-icon>
              <span>Operations event information</span>
            </div>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <mat-toolbar class="main-header">
    </mat-toolbar> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>