<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="sidenav-header">Computo</mat-toolbar>
    <mat-accordion multi="true">
      <mat-expansion-panel (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div fxLayout="column">
              <span>Product definition management</span>
              <span *ngIf="step != 0" class="mat-panel-title-sub">Personnel, Equipment, Material</span>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item href="#">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
              <mat-icon aria-hidden="false" aria-label="Example home icon">manage_accounts</mat-icon>
              <span>Personnel</span>
            </div>
          </a>
          <a mat-list-item href="#">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
              <mat-icon aria-hidden="false" aria-label="Example home icon">devices</mat-icon>
              <span>Equipment</span>
            </div>
          </a>
          <a mat-list-item href="#">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
              <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
              <span>Material</span>
            </div>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div fxLayout="column">
              <span>Production definition managment</span>
              <span *ngIf="step != 1" class="mat-panel-title-sub">Personnel, Equipment, Material</span>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item href="#">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
              <mat-icon aria-hidden="false" aria-label="Example home icon">manage_accounts</mat-icon>
              <span>Personnel</span>
            </div>
          </a>
          <a mat-list-item href="#">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
              <mat-icon aria-hidden="false" aria-label="Example home icon">devices</mat-icon>
              <span>Equipment</span>
            </div>
          </a>
          <a mat-list-item href="#">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
              <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
              <span>Material</span>
            </div>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div fxLayout="column">
              <span>Production detailed scheduling</span>
              <span *ngIf="step != 2" class="mat-panel-title-sub">Production schedule, </span>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item href="#">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
              <mat-icon aria-hidden="false" aria-label="Example home icon">schedule</mat-icon>
              <span>Schedule</span>
            </div>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="setStep(3)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div fxLayout="column">
              <span>Production dispatching</span>
              <span *ngIf="step != 3" class="mat-panel-title-sub">Personnel, Equipment, Material</span>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item href="#">Link 1</a>
          <a mat-list-item href="#">Link 2</a>
          <a mat-list-item href="#">Link 3</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel  (opened)="setStep(4)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div fxLayout="column">
              <span>Production execution management</span>
              <span *ngIf="step != 4" class="mat-panel-title-sub">Personnel, Equipment, Material</span>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item href="#">Link 1</a>
          <a mat-list-item href="#">Link 2</a>
          <a mat-list-item href="#">Link 3</a>
        </mat-nav-list>
        <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" (closed)=setStep(-1) hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div fxLayout="column">
                <span>Data collection</span>
                <span *ngIf="step != 5" class="mat-panel-title-sub">Personnel, Equipment, Material</span>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item href="#">Link 1</a>
            <a mat-list-item href="#">Link 2</a>
            <a mat-list-item href="#">Link 3</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="main-header">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <span>computo</span> -->
    </mat-toolbar>
    <!-- Add Content Here -->
    {{step}}
  </mat-sidenav-content>
</mat-sidenav-container>