.form {
  padding: 24px;
  border-radius: 4px;
  border-left: 1px solid rgba(255,255,255,.12);
  border-bottom: 1px solid rgba(255,255,255,.12);
  /* border-bottom-color: rgba(255,255,255,.12); */
}

table {
  width: 100%;
}

table tr:hover{
  cursor: pointer;
  background: #b4b4b433;
  color: white;
}

.active{
  background: #b4b4b433;
  color: white;
}

.mat-column-id {
  font-weight:bold;
}
  
.mat-column-description {
  max-width: 128px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-sidenav { 
  display: flex; 
}

.mat-sidenav-container { 
  flex: 1 1 auto; 
  height: 100%; 
}