.form {
  padding: 24px;
  border-bottom-left-radius: 4px;
  border-left: 1px solid rgba(255,255,255,.12);
  border-bottom: 1px solid rgba(255,255,255,.12); 
  border-bottom-color: rgba(255,255,255,.12);
  /* background-color:  rgba(255,255,255,.12);
  border-color: rgba(0,0,0,.12) !important;
  border-left: 1px solid rgba(0,0,0,.12);
  border-bottom: 1px solid rgba(0,0,0,.12); */
} 

tr.mat-header-row {
  height: 48px;
}


.mat-column-id {
  font-weight:bold;
}
  
.mat-column-description {
  max-width: 128px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-sidenav { 
  display: flex; 
}

.mat-sidenav-container { 
  flex: 1 1 auto; 
  height: 100%; 
}