<div class="container">
    <form [formGroup]="form" (ngSubmit)="update()">
        <mat-toolbar fxLayoutGap="8px">
            <span>Operational location class</span>
            <span class="spacer"></span>
            <button mat-flat-button type="submit" [disabled]="!form.valid || !form.dirty" color="primary">Save
                changes</button>
            <button mat-icon-button type="button" (click)="delete()" matTooltip="Delete">
                <mat-icon>delete_outline</mat-icon>
            </button>
            <button mat-icon-button type="button" [routerLink]="['/operational/location/class/']" matTooltip="close">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar>
        <div fxLayout="row">
            <div fxLayout="column" fxFlex="50" class="form">
                <h3>Identificaiton Informaiton</h3>
                <mat-form-field appearance="outline" color="primary">
                    <mat-label>ID</mat-label>
                    <input matInput formControlName="id">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Created</mat-label>
                    <input disabled matInput value="{{form.get('created')?.value.seconds * 1000  | date:'long'}}">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Modified</mat-label>
                    <input disabled matInput value="{{form.get('modified')?.value.seconds * 1000 | date:'long'}}">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description" rows="4" #description maxlength="256"
                        placeholder="Short description of class." autocomplete="off"></textarea>
                    <mat-hint align="end">{{description.value.length}} / 256</mat-hint>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex="50" class="form">
                <h3>Hierarchy and Scope</h3>
                <app-hierarchy [form]="form"></app-hierarchy>
            </div>
        </div>
        <div fxLayout="row">
            <mat-tab-group animationDuration="0ms" fxLayout="column" fxFlex>
                <mat-tab label="Properties">
                    <div fxLayout="column">
                        <app-property label="Operational Location" path="OperationalLocationClass"
                            collection="operationalLocationClassProperty"></app-property>
                    </div>
                </mat-tab>
                <mat-tab label="Relationships">
                    <div fxLayout="row" fxLayoutGap="24px" class="form">
                        <div fxLayout="column" fxFlex>
                            <app-relationship [form]="form" label="Operational Location Class"
                                path="OperationalLocationClass" relationship="operationalLocationClass">
                            </app-relationship>
                        </div>
                        <div fxLayout="column" fxFlex>
                            <app-relationship [form]="form" label="Operational Location" path="OperationalLocation"
                                relationship="operationalLocationID"></app-relationship>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </form>
</div>