.container {
    width: 1200px;
}

.form {
    padding: 24px;
    display: flex;
}

.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
    color: greenyellow !important;
}


.spacer {
    flex: 1 1 0;
  }