<form [formGroup]="form" (ngSubmit)="update()">
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Information">
            <div class="container" fxLayout="column" style="width: 704px;">
                <mat-form-field appearance="outline">
                    <mat-label>ID</mat-label>
                    <input matInput formControlName="id">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Created</mat-label>
                    <input disabled matInput value="{{form.get('created')?.value.seconds * 1000  | date:'long'}}">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Modified</mat-label>
                    <input disabled matInput value="{{form.get('modified')?.value.seconds * 1000 | date:'long'}}">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description" rows="4" #description maxlength="256"
                        placeholder="Short description of class." autocomplete="off"></textarea>
                    <mat-hint align="end">{{description.value.length}} / 256</mat-hint>
                    <mat-hint>Objects in the information model which required unique identificaitons contain an ID
                        attribute
                        and description</mat-hint>
                </mat-form-field>
                <h2>Hierarchy Scope</h2>
                <app-hierarchy [form]="form"></app-hierarchy>
                <button mat-flat-button type="submit" [disabled]="!form.valid" color="primary">Update</button>
            </div>
        </mat-tab>
        <mat-tab label="Relationships">
            <div class="container" fxLayout="column" style="width: 704px;">
                <app-relationship [form]="form" label="Operational Location Class" path="OperationalLocationClass"
                    relationship="operationalLocationClass"></app-relationship>
                <app-relationship [form]="form" label="Operational Location" path="OperationalLocation"
                    relationship="operationalLocationID"></app-relationship>
            </div>
        </mat-tab>
        <mat-tab label="Properties">
            <app-property label="Operational Location" path="OperationalLocationClass"
                collection="operationalLocationClassProperty"></app-property>
        </mat-tab>
    </mat-tab-group>
</form>