<div class="container">
    <div fxLayout="row">
        <div fxLayout="column" fxFlex="50">
            <h2>Operational Location Class</h2>
        </div>
        <div fxLayout="column" fxFlex="50">
            <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="24px">
                <button mat-icon-button matTooltip="Save" aria-label="Example icon button with a home icon"
                    (click)="add()">
                    <mat-icon>done</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Close" aria-label="Example icon button with a home icon"
                    routerLink="/operational/location">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <form [formGroup]="form" fxLayout="column" fxLayoutGap="24px">
        <mat-form-field>
            <mat-label>ID</mat-label>
            <input matInput formControlName="id" placeholder="" autocomplete="off" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Modified</mat-label>
            <input matInput placeholder="" value="{{timestamp}}">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" placeholder="Short description"></textarea>
        </mat-form-field>
    </form>
</div>