<p>operational-location-class-add works!</p>


<ul>
    <li *ngFor="let item of documents | async">
        {{ item | json }}
    </li>
</ul>


<form [formGroup]="form" (ngSubmit)="add()">

    <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput placeholder="Equipment Type ID" formControlName="id" autocomplete="off" required
          oninput="this.value = this.value.toUpperCase()">
      </mat-form-field>
      {{form.hasError('id')}}
      <div *ngIf="objectId">
        <mat-spinner matSuffix [diameter]="18" style="float: right; margin-left: 8px" *ngIf="objectId.pending">
        </mat-spinner>
        <mat-error *ngIf="objectId.invalid && (objectId.dirty || objectId.touched) && objectId.errors !== null">
          id already exists, try something different
        </mat-error>
        {{objectId}}
      </div>


    <!-- <mat-form-field>
        <mat-label>description</mat-label>
        <input matInput formGroupName="description" required>
    </mat-form-field>
    <div formGroupName="hierarchyScope">
        <mat-form-field>
            <mat-label>equipmentID</mat-label>
            <input matInput formGroupName="equipmentID" required autocomplete="off">
        </mat-form-field> -->
    <!-- </div> -->
    <p>Form Status: {{ form.status }}</p>
    <p>Complete the form to enable button.</p>
    <button type="submit" [disabled]="!form.valid">Submit</button>
</form>

{{form.errors}}

<!-- <button (click)="add({id: 'test'})">test</button> -->