<div fxLayout="row" class="container">
    <div fxLayout="column" fxFlex="50">
        <h2>Operational Location Information</h2>
    </div>
    <div fxLayout="column" fxFlex="50">
        <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="10px">
            <button mat-flat-button color="primary" aria-label="Example icon button with a home icon" routerLink="/operational/location/class/create">
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="Example home icon">add</mat-icon>
                    <span>Create Operational Location Class</span>
                  </div>
              </button>
              <button mat-stroked-button aria-label="Example icon button with a home icon">
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="Example home icon">add</mat-icon>
                    <span>Create Operational Location</span>
                  </div>
              </button>
        </div>
    </div>
</div>
<div fxLayout="column" class="container">
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Operational Location Class">
            <app-operational-location-class-list></app-operational-location-class-list>
        </mat-tab>
        <mat-tab label="Operational Location">Content 1</mat-tab>
    </mat-tab-group>
</div>