<mat-tab-group animationDuration="0ms">
    <mat-tab label="Operational Location Class">
        <mat-toolbar class="toolbar">
            <span class="spacer"></span>
            <div class="row" fxLayoutAlign="center center" fxLayoutGap="24px">
              <form style="font-size: 12px; padding-top: 16px">
                <mat-form-field appearance="outline">
                  <mat-icon matPrefix>search</mat-icon>
                  <input matInput value="" autocomplete="off">
                </mat-form-field>
              </form>
              <button mat-flat-button color="primary" [matMenuTriggerFor]="menu">
                <span>Add</span>
                <mat-icon>expand_more</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="add">
                  <span>Operational location class</span>
                </button>
                <button mat-menu-item routerLink="/operational/location/class/add">
                  <span>Operational location</span>
                </button>
              </mat-menu>
            </div>
          </mat-toolbar>
        <app-operational-location-class-list></app-operational-location-class-list>
    </mat-tab>
    <mat-tab label="Operational Location">
        <app-operational-location-class-list></app-operational-location-class-list>
    </mat-tab>
  </mat-tab-group>