<div [formGroup]="idForm">
    <mat-form-field appearance="outline" fxFlex>
        <mat-label>ID</mat-label>
        <input matInput formControlName="id" #id maxlength="64" autocomplete="off"
            oninput="this.value = this.value.toUpperCase()">
            <mat-hint>Global unique identification of data object</mat-hint>
        <mat-hint align="end">{{id.value.length}} / 64</mat-hint>
        <div *ngIf="objectId" matSuffix>
            <mat-error *ngIf="objectId.hasError('exists')">
                <strong>Already exists, try something different.</strong>
            </mat-error>
        </div>
    </mat-form-field>
</div>