<div fxLayout="row">
  <table mat-table [dataSource]="operationalLocationClass" class="container">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">
        <a mat-flat-button routerLink="/operational/location/class/{{element.id}}" routerLinkActive="active">
          {{element.id}}
        </a>
      </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{element.description}}</td>
    </ng-container>
    <ng-container matColumnDef="hierarchyScope">
      <th mat-header-cell *matHeaderCellDef>hierarchyScope</th>
      <td mat-cell *matCellDef="let element">{{element.hierarchyScope | json}}</td>
    </ng-container>
    <ng-container matColumnDef="operationalLocationClass">
      <th mat-header-cell *matHeaderCellDef>Operational Location Class</th>
      <td mat-cell *matCellDef="let element">{{element.operationalLocationClass}}</td>
    </ng-container>
    <ng-container matColumnDef="operationalLocationID">
      <th mat-header-cell *matHeaderCellDef>operationalLocationID</th>
      <td mat-cell *matCellDef="let element">{{element.operationalLocationID}}</td>
    </ng-container>
    <ng-container matColumnDef="operationalLocationClassProperty">
      <th mat-header-cell *matHeaderCellDef>operationalLocationClassProperty</th>
      <td mat-cell *matCellDef="let element">{{element.operationalLocationClassProperty}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>