<mat-sidenav-container>
  <!-- <mat-drawer #drawer mode="side" position="end" fullscreen>
    <router-outlet></router-outlet>
  </mat-drawer> -->
  <mat-sidenav-content>
    <table mat-table [dataSource]="documents$" class="table">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">
          <span>{{element.id}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{element.description}}</td>
      </ng-container>
      <ng-container matColumnDef="hierarchyScopeEquipmentLevel">
        <th mat-header-cell *matHeaderCellDef>Hierarchy Scope Equipment Level</th>
        <td mat-cell *matCellDef="let element">{{element.hierarchyScope.equipmentLevel}}</td>
      </ng-container>
      <ng-container matColumnDef="hierarchyScopeEquipmentID">
        <th mat-header-cell *matHeaderCellDef>Hierarchy Scope Equipment ID</th>
        <td mat-cell *matCellDef="let element">{{element.hierarchyScope.equipmentID}}</td>
      </ng-container>
      <ng-container matColumnDef="operationalLocationClass">
        <th mat-header-cell *matHeaderCellDef>Operational Location Class</th>
        <td mat-cell *matCellDef="let element">{{element.OperationalLocationClass}}</td>
      </ng-container>
      <ng-container matColumnDef="operationalLocationID">
        <th mat-header-cell *matHeaderCellDef>Operational Location ID</th>
        <td mat-cell *matCellDef="let element">{{element.OperationalLocationID}}</td>
      </ng-container>
      <ng-container matColumnDef="operationalLocationClassProperty">
        <th mat-header-cell *matHeaderCellDef>Operational Location Class Property</th>
        <td mat-cell *matCellDef="let element">{{element.OperationalLocationClassProperty}}</td>
      </ng-container>
      <ng-container matColumnDef="controls">
        <th mat-header-cell *matHeaderCellDef class="header-align-right"></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon>chevron_right</mat-icon>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;" [routerLink]="['update/', row.document]"
        (click)="open(drawer)"></tr>
    </table>
  </mat-sidenav-content>
  <mat-sidenav #drawer position="end" mode="side" fullscreen>
    <router-outlet></router-outlet>
  </mat-sidenav>
</mat-sidenav-container>