.mat-column-id {
  font-weight:bold;
}
  
.mat-column-description {
  max-width: 128px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-action {
  justify-content: flex-end;
}

.sidenav {
  width: 50vw;
}